[Unit]
Description=sysbench-mongodb
After=time-sync.target network.target

[Service]
Type=forking
User=nobody
Group=nobody
PermissionsStartOnly=true
ExecStart=/usr/bin/env bash -c "/opt/sysbench-mongodb-loop.sh /opt/sysbench-mongodb & echo $! >/tmp/sysbench-mongodb-loop.pid"
PIDFile=/tmp/sysbench-mongodb-loop.pid

[Install]
WantedBy=multi-user.target
